@model Weapsy.Reporting.Menus.MenuViewModel

<ul class="nav navbar-nav">
    @foreach (var menuItem in Model.MenuItems)
    {
        <li class="@(menuItem.Children.Any() ? "dropdown" : "")">
            <a data-toggle="@(menuItem.Children.Any() ? "dropdown" : "")" href="@menuItem.Url" title="@menuItem.Title">@menuItem.Text</a>
            @await Html.PartialAsync("_ChildrenPartial.cshtml", menuItem.Children)
        </li>        
    }
</ul>