@model Weapsy.Reporting.Apps.AppAdminModel
@inject IHtmlLocalizer<Weapsy.Resources.Areas.Admin.App> AppLocalizer

@{
    ViewBag.Title = AppLocalizer["Title_Edit"];
}

@section scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/admin/apps/shared.js"></script>
    <script src="~/js/admin/apps/edit.js"></script>
    <script>
        $(document).ready(function () {
            var nameRequiredMessage = '@AppLocalizer["Validation_NameRequired"]';
            var rangeLengthMessage = '@SharedLocalizer["Validation_RangeLength"]';
            var alreadyInUseMessage = '@SharedLocalizer["Validation_AlreadyInUse"]';
        });
    </script>
}

<div class="page-header">
    <h1>@AppLocalizer["Title_Edit"]</h1>
</div>

<form id="editAppForm" name="editAppForm" data-ajax="true" data-ajax-method="PUT" data-ajax-url="/Admin/App/Update" data-ajax-loading="#savingApp" data-ajax-success="weapsy.admin.apps.redirectToIndex" class="form-horizontal validate-form" role="form">
    <input type="hidden" id="id" name="id" value="@Model.Id" />
    @await Html.PartialAsync("_App")
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button id="save" type="submit" class="btn btn-primary" title="@SharedLocalizer["Button_Update"]">@SharedLocalizer["Button_Update"]</button>
            <a id="deleteApp" class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" title="@AppLocalizer["Delete"]">@SharedLocalizer["Button_Delete"]</a>
            <a href="@Url.Action("Index", "App", new { area = "Admin" })" class="btn btn-default" title="@SharedLocalizer["Button_Cancel"]">@SharedLocalizer["Button_Cancel"]</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <span id="savingApp" style="display:none;">
                @AppLocalizer["Saving"]
            </span>
        </div>
    </div>
</form>

@await Html.PartialAsync("_ConfirmDelete")