@model Weapsy.Reporting.Users.UserRolesViewModel

@{
    ViewBag.Title = "User Roles";
}

@section scripts {
    <script src="~/js/admin/users/roles.js"></script>   
}

<input type="hidden" id="user-id" value="@Model.Id" />

<div class="page-header">
    <h1>User Roles (@Model.Email)</h1>
</div>

<div class="col-md-3">
    <h3>Available Roles</h3>
    <ul id="available-roles" class="list-group connected-list">
    @foreach (var role in Model.AvailableRoles)
    {
        <li class="list-group-item available-role" data-role-name="@role">
            <span class="glyphicon glyphicon-option-vertical handle" aria-hidden="true"></span>
            <span>@role</span>
        </li>
    }
    </ul>
</div>

<div class="col-md-1"></div>

<div class="col-md-3">
    <h3>User Roles</h3>
    <ul id="user-roles" class="list-group connected-list">
    @foreach (var role in Model.UserRoles)
    {
        <li class="list-group-item user-role" data-role-name="@role">
            <span class="glyphicon glyphicon-option-vertical handle" aria-hidden="true"></span>
            <span>@role</span>
        </li>
    }
    </ul>
</div>
