@{
    ViewBag.Title = "Admin";
}

<div class="page-header">
    <h1>Admin dashboard from default theme</h1>
</div>

<ul class="nav nav-pills">
    <li class="active">
        <a href="@Url.Action("Index", "Page", new { area = "Admin" })" title="Pages">Pages</a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index", "Menu", new { area = "Admin" })" title="Menus">Menus</a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index", "Site", new { area = "Admin" })" title="Site Settings">Site Settings</a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index", "Language", new { area = "Admin" })" title="Languages">Languages</a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index", "App", new { area = "Admin" })" title="Apps">Apps</a>
    </li>
    <li class="active">
        <a href="@Url.Action("Index", "ModuleType", new { area = "Admin" })" title="Module Types">Module Types</a>
    </li>
</ul>
